

<p>这是网站的进入页面，分别显示 医生，病人，预约 三个分类</p>

<table>

  <tr>
    <td> <%= link_to 'doctor', controller: 'doctors' %></td>
    <td><%= link_to 'patient', controller: 'patients' %></td>
    <td><%= link_to 'appointment', controller: 'appointments' %></td>
  </tr>
</table>
